*{
	margin: 0;
	padding: 0;
	box-sizing: border-box,
}

html {
	font-size: 16px;
}

:root {
	--black: #423a3a;/* color: var(--black);*/
	--brown: #ce9898;
	--peach: #ee8b8b;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	
	background: rgb(255,255,255);
	background: linear-gradient(220deg, rgba(255,255,255,1) 0%, rgba(255,244,244,1) 100%);
}

ul {
	list-style: none;
}

img {
	width: 100%;
	height: 100%;
}

.container {
	height: 100vh;
	width: 23.438rem;
}

/*Header*/

.logo {
	width: 6.25rem;
	height: 1.306rem;
	padding: 1.93rem 0 1.93rem 2rem;
	
}

.logo img {
	background: rgb(151,151,151);
	background: linear-gradient(220deg, rgba(151,151,151,1) 0%, rgba(248,191,191,1) 100%);
	
}	

.hero {
	width: 23.5rem;
	height: 15.6rem;
	margin-left: 0.0625em;
}

/*Main content*/

.main-content {
	width: 19.438rem;
	height: 19.375rem;
	margin: 4rem auto 5.75rem auto;
	
}

.text-content h1 {
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 0.95em;
	letter-spacing: 0.27em;
	text-transform: uppercase;
	text-align: center;
	color: #CE9898;
}

.text-content h1 span {
	font-weight: 600;
	color: #423A3A;
}

.text-content p {
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.57em;
	color:#CE9898;
	text-align: center;
	margin-top: 1.142em;
	margin-bottom: 2.285em;
	
}

.form {
	width: 100%;
	height: 48px;
	position: relative;
}

.form-control input {
	border-radius: 28px;
	width: 100%;
	background: rgb(255,255,255) ;
	background:  linear-gradient(220deg, rgba(255,255,255,1) 0%, rgba(255,244,244,1) 100%);
	height: 48px;
	border: 1px solid #CE9898;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	position: absolute;
	position: relative;
	margin-top: 1em;
	display: block;
	
}



.form-control input::placeholder {
	color: #ce9898;
	font-weight: 400;
	font-style: normal;
	font-size: 0.875rem;
	line-height: 2em;
	padding: 0.78em 0 0.64em 1.7em;
	
	
}

.form-control input:focus {
	outline: none;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border: 2px solid #F96464;
	border-radius: 5px;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #ff7979;
	visibility: visible;
	position: absolute;
	top: 1.9rem;
	right: 1.2rem;
	font-size: 1.5rem;;
}

.form-control small {
	color: #ff7979;
	position: absolute;
	bottom: 0;
	right: 0;
	visibility: hidden;
	font-weight: 500;
	font-size: 0.68rem;
}

.form-control.error small {
	visibility: visible;
}

/*.submit-arrow {
	position: absolute;
	right: 0;
	bottom: 2.5%;
	width: 4rem;
	height: 3rem;
	background: #EE8B8B url('./images/icon-arrow.svg') no-repeat right 50% center;
	border-radius: 23px;
	margin-right: -5px;
	box-shadow: 0 6px 15px 0 #C66E6E;
	z-index: 1;
}*/

.submit-arrow {
	width: 1.5rem;
	height: 2rem;
}
.form-control {
	
	position: relative;
	opacity: 50%;
	
}

.form-control i {
	visibility: none;
	position: absolute;

	right: 0;
	bottom: 5px;
	visibility: hidden;
}

.form-control small {
	position: absolute;
	left: 0;
	visibility: hidden;
}

button {
	box-shadow: 0 6px 15px 0 #C66E6E;
	border:none;
	width: 76px;
}
#submit-button {
	margin: 0px;
	width: 76px;
	height: 50px;
	padding: 0px;
	margin-left: 54%;
	position: absolute;
	right: -10px;
	bottom: 0px;
	border-radius: 44px;
	transition: all 0.5s ease-in-out;
	border-color:hsl(0, 74%, 85%);
	/*border: 1px solid hsl(0, 0%, 100%);*/
	background: linear-gradient(135deg, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 70%);
	z-index: 1;
	/*box-shadow: 0 6px 15px 0 #C66E6E;*/
}

/*input {
  width: 70%;
  height: 10px;
  padding: 20px;
  display: block;
  border-radius: 50px;
  margin: 40px auto 15px auto;
  border: 1px solid hsl(0, 36%, 70%);
}*/






#submit-button:hover {
	cursor: pointer;
	border: 1px solid transparent;
	border: 1px solid hsl(0, 0%, 100%);
	background: linear-gradient(135deg, hsl(0, 0%, 100%) 0%,  hsl(0, 74%, 85%) 90%);
}

#submit-button {
	margin-left: 22%;
}



